/*
          _____                    _____                    _____          
         /\    \                  /\    \                  /\    \         
        /::\    \                /::\    \                /::\    \        
       /::::\    \               \:::\    \              /::::\    \       
      /::::::\    \               \:::\    \            /::::::\    \      
     /:::/\:::\    \               \:::\    \          /:::/\:::\    \     
    /:::/__\:::\    \               \:::\    \        /:::/__\:::\    \    
    \:::\   \:::\    \              /::::\    \      /::::\   \:::\    \   
  ___\:::\   \:::\    \    ____    /::::::\    \    /::::::\   \:::\    \  
 /\   \:::\   \:::\    \  /\   \  /:::/\:::\    \  /:::/\:::\   \:::\____\ 
/::\   \:::\   \:::\____\/::\   \/:::/  \:::\____\/:::/  \:::\   \:::|    |
\:::\   \:::\   \::/    /\:::\  /:::/    \::/    /\::/    \:::\  /:::|____|
 \:::\   \:::\   \/____/  \:::\/:::/    / \/____/  \/_____/\:::\/:::/    / 
  \:::\   \:::\    \       \::::::/    /                    \::::::/    /  
   \:::\   \:::\____\       \::::/____/                      \::::/    /   
    \:::\  /:::/    /        \:::\    \                       \::/____/    
     \:::\/:::/    /          \:::\    \                       ~~          
      \::::::/    /            \:::\    \                                  
       \::::/    /              \:::\____\                                 
        \::/    /                \::/    /                                 
         \/____/                  \/____/                                  
                                                                           


                  __ _           
                 / _(_)          
  ___ ___  _ __ | |_ _  __ _ ___ 
 / __/ _ \| '_ \|  _| |/ _` / __|
| (_| (_) | | | | | | | (_| \__ \
 \___\___/|_| |_|_| |_|\__, |___/
                        __/ |    
                       |___/     
*/

// basic inputs and outputs
params.cellhome    = "/data/hca/chensijie/Dataset/SMART1/FASTQfilesSub"
params.output      = "/data/hca/chensijie/Result/SubSMART1_Result"

// analysis step configs
params.readqc      = "fastp"
params.quant       = "salmon"
params.quant_unit  = "count"
params.downstream  = "seurat"



// notification options
params.use_email   = false
params.email       = "chensj16@mails.tsinghua.edu.cn"

// modifiable built-in options
/// Reference
params.salmon_index="/data/hca/chensijie/Reference/transcriptome/SALMON21_Homo_sapiens.GRCh38.cdna.all"
params.tx2gene = "/data/hca/chensijie/code/SIP/scripts/tx2gene.SALMON21_Homo_sapiens.GRCh38.cdna.all.tsv"


// Seurat Analysis Parameters
params.seuratMinCells = "1"
params.seuratMinGenes = "200"
params.seuratNGeneLowerBound = "200"
params.seuratNGeneUpperBound = "Inf"
params.seuratMitoLowerBound  = "-Inf"
params.seuratMitoUpperBound  = "0.30"
params.seuratSubgroupResolution = "1.03"
params.seuratTSNEPerplexity  = "4"
params.seuratDEGeneKept      = "10"
params.seuratDEGeneViz       = "3"
params.seuratDEMinDetectRatio= "0.15"
params.seuratDEpvalCut       = "0.05"


process{
    
    container= 'sunhao2018/centos_docker_test:latest'
    
    
    
    
}


docker{
    enabled=true
    fixOwnership=true
}
